* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  }
  /* Style the body */
body{
  background-image: url(anfieldd.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: all;
  background-attachment: fixed;
}
.container{
  width: 1024px;
  margin: 0 auto;
}
.header{
  display: flex;
  background-color: rgba(255,255,255,0.7);
  height: auto;
  border-style: groove; 
  justify-content: space-between;
} /* Header/logo Title */
.logo  p{
  margin: 30px 100px 30px 500px;
  font-size:36px;
  padding: 10px 15px 10px 25px;
  float: right;
  position: relative;
  color:#fff;
  background-color: #cc0000;
}  

.header img{
  width: 150px;
  float: left;
  }
  /* Style the navigation bar links */

.push {
  margin-left: auto;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  margin-right: 550px;

}
.image{
display: flex;
}
.slider{
  display: flex;
  border: 2px solid black ;
}  
.contain   {
  max-width: 1024px;
  margin: 0;
  padding: 0;  
}
.centre{
  display: inline-block;
  max-width: 700px;
  background-color:white;
  margin-left: -3px;
  padding: 5px;
  line-height: 2;
  float: right;
}
input{
  padding: 10px;
  margin-bottom: 	40px;
  outline: none;
  border: none;
  font-size: 14px;
}
input:focus{
  background-color:lightslategray; 
  color: aliceblue;
}
button{
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
}
button:hover{
  background-color: grey;
}
.container{
  overflow: hidden;
}
.article{
  padding: 20px;
}
.body p, h1{
  padding: 20px 0 20px 0;
}
h3{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #3D3630;
}
h6{
  padding-left: 10px;
}
hr{
  border: none;
  border-bottom: 	1px dotted gray;
  margin-bottom: 10px;
  padding-bottom: 10PX;
}
.centre hr{
  padding-bottom: 8px;
}
.rightside{
  display: inline-block;
	max-width: 324px;
	background-color: #E3DCCA;
  padding: 9px;
}
#right{
  float: right;
  padding: 5px;
}
h1, h6{
	color: 	green;
}
h6{
	display: inline-block;
}
#leftie{   
  float: left;
  margin-left: -10px;
  color: #3D3630;
}
#homie{
  margin-top: -20px;
}
#noline{
  border: none;
  line-height: 0px;
}
.footer {
  background-color: #000;
  padding: auto;
  margin: 0 auto;
  border-style: groove; 
}

.credits{
  color: #fff;
  display: flex; 
  margin: 0 auto;
	line-height: normal;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
}
.social-icons {
  list-style-type: none;
  display: flex;
  margin: 10px 30px 0px 0px;
  padding: 0px;
  flex-direction: row;  
}
.footer-widgets{
  width: 1024px;
}


.footer1{
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}